/* Custom site utilities */

@layer components {
  .prose em {
    color: rgb(var(--color-primary-700));
  }
  .dark .prose em {
    color: rgb(var(--color-primary-300));
  }
}

@layer utilities {
  /* variables */
  .prose {
    --tw-prose-captions-light: rgba(var(--color-neutral-600), 1);
    --tw-prose-captions-dark: rgba(var(--color-neutral-400), 1);
  }

  /* captions */
  .prose {
    & :where(figcaption):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: var(--tw-prose-captions-light) !important;
    }
    .dark & :where(figcaption):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: var(--tw-prose-captions-dark) !important;
    }
  }

  /*
  .prose {
    container: prose-box / size;
    /* breakout for figures */ /*
    @container (min-width: 32rem) {
      figure {
        position: relative;

        & img, & figcaption {
          position: absolute;
          right: 100%;
          margin-right: 1rem;
          width: var(--container-lg);
          text-align: right;
        }
      }
    }
  } */
}
