/* Custom site utilities */
@layer components {
  .prose {
    :where(em):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: rgb(var(--color-primary-700));
      .dark & {
        color: rgb(var(--color-primary-300));
      }
    }

    :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: rgb(var(--color-secondary-700));
      .dark & {
        color: rgb(var(--color-secondary-300));
      }
    }
  }
}

@layer utilities {
  /* variables */
  .prose {
    --tw-prose-captions-light: rgba(var(--color-neutral-600), 1);
    --tw-prose-captions-dark: rgba(var(--color-neutral-400), 1);
  }

  /* captions */
  .prose {
    & :where(figcaption):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: var(--tw-prose-captions-light) !important;
    }
    .dark & :where(figcaption):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: var(--tw-prose-captions-dark) !important;
    }
  }

  /* no spacing utility */
  .prose :where(.no-spacing):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 4px !important;
    margin-bottom : 4px !important;
  }
}
