{{/* Multi-image figure shortcode for rendering images in a flexbox */}}
{{/* syntax: {{< multifig caption="Your caption here" >}} ![alt text](image-url) {{< /multifig >}} */}}

{{ $page := .Page }}
{{ $caption := .Get "caption" -}}
{{ $inner := .Inner -}}

{{ $rendered := "" }}
{{ range split (trim $inner "\n") "\n" }}
  {{ $line := . }}

  {{/* PROCESS EACH LINE */}}
  {{/* extract alt text and url from markdown image syntax */}}
  {{ $alt := "" }}
  {{ $altRegexMatch := findRE `!\[([^\]]*)\]` $line }}
  {{ if $altRegexMatch }}
    {{ $alt = index $altRegexMatch 0 | replaceRE `!\[(.*)\]` "$1" }}
  {{ end }}
  {{if not $alt }}
    {{ continue }}
  {{ end }}

  {{ $url := "" }}
  {{ $urlRegexMatch := findRE `\(([^)"]+)` $line }} {{/* intellisense cant highlight this proper unless i escape that "*/}}
  {{ if $urlRegexMatch }}
    {{ $url = index $urlRegexMatch 0 | replaceRE `\((.*)` "$1" }}
  {{ end }}
  {{if not $url }}
    {{ continue }}
  {{ end }}

  {{/* if the url works, pull the image from it. figure out its aspect ratio.*/}}
  {{ $img := $page.Resources.GetMatch $url }} 
  {{ $imgRatio := div $img.Height $img.Width }}
  {{ $imgFlexSize := 2 }}  
  {{/* is this image horizontal or vertical? test by comparing $imgRatio to 1 */}}
  {{ if lt $imgRatio .75 }}
    {{/* horizontal image */}}
    {{ $imgFlexSize = 3 }}
  {{ else if gt $imgRatio 1.33 }}
    {{/* vertical image */}}
    {{ $imgFlexSize = 1 }}
  {{ end }}

  {{/* Output each line. */}}
  {{ $rendered = printf "%s<img src=\"%s\" alt=\"%s\" class=\"gallery-item flex-%s max-w-[50vw] lg:max-w-[33vw]\">" $rendered $url $alt $imgFlexSize }}
{{ end }}

<figure> 
  <div class="multifig flex flex-wrap flex-col lg:flex-row">
    {{ $rendered | safeHTML -}}
  </div>
  {{ if $caption }}
    <figcaption>{{ $caption | safeHTML }}</figcaption>
  {{ end }}
</figure>